
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="row">
    <div class="col-log-12">
        <div id="chart_div" style="width:800px;height:600px">
            <h2>Burası yeni chart alanı</h2>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(DrawonLoad);

            function DrawonLoad() {
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/Admin/Chart/CategoryChart/',
                success: function (chartsdata) {
                    console.log("Gelen Veri:", chartsdata); // JSON'u kontrol et

                    // ✅ "jsonlist" nesnesi içinde mi kontrol et
                    if (!chartsdata || !chartsdata.jsonlist || chartsdata.jsonlist.length === 0) {
                        console.error("Boş veri alındı veya jsonlist bulunamadı.");
                        return;
                    }

                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Kategori Adı');
                    data.addColumn('number', 'Kategori Sayısı');

                    chartsdata.jsonlist.forEach(item => {
                        data.addRow([item.categoryname, item.categorycount]);
                    });

                    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

                    chart.draw(data, {
                        title: "OKAN SARIOĞLU | BLOG PROJE",
                        is3D: true,
                        legend: { position: 'bottom' }
                    });
                },
                error: function (xhr, status, error) {
                    console.error("Hata oluştu:", xhr.status, xhr.responseText);
                }
            });
        });
    }


</script>

