@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<h1>Yazar Ajax İşlemleri</h1>
<br />
<button type="button" id="btngetlist" class="btn btn-outline-primary">Yazar Listesi</button>
<button type="button" id="btngetbyid" class="btn btn-outline-success">Yazar Getir</button>
<button type="button" id="btnaddwriter" class="btn btn-outline-info">Yazar Ekle</button>
<button type="button" id="btndeletewriter" class="btn btn-outline-danger">Yazar Sil</button>
<button type="button" id="btnupdatewriter" class="btn btn-outline-warning">Yazar Güncelle</button>
<br />
<br />
<div id="writerlist">
    Yazarları Getir
</div>
<br />
<div id="writerget">
    Buraya 1 yazar gelicek
</div>
<div>
    <input type="text" id="writerid" placeholder="Yazar ID değeri girin" class="form-control" />
</div>
<br />
<div>
    Yazar Ekleme
    <input type="text" class="form-control" id="txtwriterid" placeholder="Yazar ID" />
    <input type="text" class="form-control" id="txtwritername" placeholder="Yazar Adı" />
</div>
<br />
<div>
    Yazar Silme
    <input type="text" class="form-control" id="txtid" placeholder="Silinecek Yazar ID" />
</div>
<div>
    Yazar Güncelleme
    <input type="text" class="form-control" id="txtid1" placeholder="Güncellenecek Yazar ID" />
    <input type="text" class="form-control" id="txtwritername1" placeholder="Güncellenecek Yazar İsmi" />
</div>


@section scripts {
    <script>
            $("#btngetlist").click(function () {
            $.ajax({
                type: "GET",
                url: "/Admin/Writer/WriterList",
                dataType: "json",
                success: function(func) {
                    let w = JSON.parse(func);
                    console.log("Gelen veri:", w);
                    w = w.filter(writer => writer.Id !== 0 && writer.Name !== null);
                    let tablehtml = `<table class="table table-bordered">
                                        <tr><th>Yazar ID</th><th>Yazar Adı</th></tr>`;
                    $.each(w, function(index, value) {
                        tablehtml += `<tr><td>${value.Id}</td><td>${value.Name}</td></tr>`;
                });
                    tablehtml += "</table>";
                    $("#writerlist").html(tablehtml);
                },
                     error: function(xhr, status, error) {
                    console.error("Hata oluştu:", error);
                    console.log("Response:", xhr.responseText);
                    $("#writerlist").html("<p>Bir hata oluştu!</p>");
                }
            });
        });




            $("#btngetbyid").click(function() {
            let id = $("#writerid").val().trim();
            if (id === "") {
                alert("Lütfen bir yazar ID girin!");
                return;
            }

            $.ajax({
                type: "GET",
                url: "/Admin/Writer/GetWriterByID",
                data: { writerid: id },
                dataType: "json",
                success: function(data) {
                    console.log("Gelen veri:", data);

                    if (!data || Object.keys(data).length === 0) {
                        $("#writerget").html("<p>Yazar bulunamadı!</p>");
                    } else {
                        let getvalue = `<table class="table table-bordered">
                                            <tr><th>Yazar ID</th><th>Yazar Adı</th></tr>
                                            <tr><td>${data.id}</td><td>${data.name}</td></tr>
                                        </table>`;
                        $("#writerget").html(getvalue);
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Hata oluştu:", error);
                    $("#writerget").html("<p>Bir hata oluştu!</p>");
                }
            });
        });




                $("#btnaddwriter").click(function() {
    let writer = {
        Id: $("#txtwriterid").val(),
        Name: $("#txtwritername").val()
    };

    console.log("Gönderilen Veri:", writer); // Konsola yazdır

    $.ajax({
        type: "POST",
        url: "/Admin/Writer/AddWriter",
        data: JSON.stringify(writer),
        contentType: "application/json",
        dataType: "json",
        success: function(response) {
            console.log("Başarılı Yanıt:", response);
            alert("Yazar ekleme işlemi başarılı.");
        },
        error: function(xhr, status, error) {
            console.error("Hata:", xhr.status, xhr.responseText);
        }
    });
});



        $("#btndeletewriter").click(x=>{
            let id = $("#txtid").val();
            $.ajax({
                url: "/Admin/Writer/DeleteWriter/"+id,
                type: "delete",
                dataType: "json",
                success: function(func){
                    alert("Yazar silme işlemi başarılı bir şekilde gerçekleşti.");
                }
            });
        });

        $("#btnupdatewriter").click(function(){
            let writer = {
                Id:$("#txtid1").val(),
                Name:$("#txtwritername1").val()
            };
            $.ajax({
                type:"post",
                url: "/Admin/Writer/UpdateWriter/",
                data: JSON.stringify(writer),
                contentType: "application/json",
                success: function(funk){
                    alert("Güncelleme yapıldı");
                }
            });
        });

    </script>
}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
